.component-nav{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-between;
    color: #fff;
 
    .brand {
        font-family: 'Sulphur Point', sans-serif;
    }

    ul{
        display: flex;
        list-style: none;
        height: 100%;

        li{
            width: 50px;
            height: 100%;
            
            a{
                color: #fff;
            }
        }
    }
}